mily=Montserrat:600&display=swap');
    .social{
        position: fixed;
        width: 70px;
        margin-top: 150px;
        transition: all 0.3s linear;
        box-shadow: 2px 2px 8px 0px rgba(0,0,0,.4);
      }
      .social li{
        height: 60px;
        position:relative;
      }
      .social li a{
        color: white;
        display: block;
        height: 100%;
        width: 100%;
        line-height: 60px;
        padding-left:25%;
        border-bottom: 1px solid rgba(0,0,0,.4);
        transition: all .3s linear;
      }
      .social li:nth-child(1) a{
        background: #4267B2;
      }
      .social li:nth-child(2) a{
        background: #1DA1F2;
      }
      .social li:nth-child(3) a{
        background: #E1306C;
      }
      .social li:nth-child(4) a{
        background: #2867B2;
      }
      .social li:nth-child(5) a{
        background: #333;
      }
      .social li:nth-child(6) a{
        background: #ff0000;
      }
      .social li a i{
        position:absolute;
        top: 17px;
        left: 20px;
        font-size: 27px;
      }
      ul li a span{
        display: none;
        font-weight: bold;
        letter-spacing: 1px;
        text-transform: uppercase;
      }
      a:hover {
        z-index:1;
        width: 200px;
        border-bottom: 1px solid rgba(0,0,0,.5);
        box-shadow: 0 0 1px 1px rgba(0,0,0,.3);
      }
      ul li:hover a span{
        padding-left: 30%;
        display: block;
      }
            