{% extends 'main.html' %}
{% block title %} | Alumini{% endblock title %}
{% block content %}
{% load static %}    
    



<section id="clients" class="clients">

    <div class="container" data-aos="fade-up">

      <header class="section-header">

        <br>
        <br>
        <br>
        <br>
        <h2>Our Alumini</h2>
        <p>Alumini of JNV Hardoi</p>
      </header>

      
     
<!-- ======= alumini Section ======= -->
<section id="alumini" class="alumini section-bg">
  <div class="container" data-aos="fade-up">

    <div class="section-title">
      <h2>About Alumini</h2>
      <p>These are the alumini of JNV Hardoi.If you want to add your name please contact us.uisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
    </div>

    <div class="row">

      {% for i in alumi %}

      <div class="col-lg-6 mt-4 ">
        <div class="member d-flex align-items-start" data-aos="zoom-in" data-aos-delay="100">
          <div class="pic"><img src="{{i.alumini_image.url}}" class="img-fluid" alt=""></div>
          <div class="member-info">
            <h4>{{i.name}}</h4>
            <span>{{i.profession}}</span>
            <span>{{i.batch}}</span>
            <p>{{i.bio}}</p>
            <div class="social">
              <a href="{{i.twitter_link}}"><i class="ri-twitter-fill"></i></a>
              <a href="{{i.facebook_link}}"><i class="ri-facebook-fill"></i></a>
              <a href="{{i.insta_link}}"><i class="ri-instagram-fill"></i></a>
              <a href="{{i.linkdin_link}}"> <i class="ri-linkedin-box-fill"></i> </a>
            </div>
          </div>
        </div>
      </div>
      
      {% endfor %}

      
      
  </div>
</section><!-- End alumini Section -->



{% endblock %} 