{% extends 'main.html' %}
{% load static %} 
{% block title %} | Campus{% endblock title %}
{% block content %}



<section >
  <br>
  <center><font face="Trebuchet MS" size="4px" color="#0062cc">OUR CAMPUS</font></center>
  <center><font face="Trebuchet MS" size="5px" color="#0062cc">JAWAHAR NAVODAYA VIDYALAYA</font></center>
  <div class="container mt-4" data-aos="fade-up">
    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 4"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="4" aria-label="Slide 5"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="5" aria-label="Slide 6"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="6" aria-label="Slide 7"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="7" aria-label="Slide 8"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="8" aria-label="Slide 9"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="9" aria-label="Slide 10"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="10" aria-label="Slide 11"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="11" aria-label="Slide 12"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="12" aria-label="Slide 13"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="13" aria-label="Slide 14"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="14" aria-label="Slide 15"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="15" aria-label="Slide 16"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="16" aria-label="Slide 17"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="17" aria-label="Slide 18"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="18" aria-label="Slide 19"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="19" aria-label="Slide 20"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="20" aria-label="Slide 21"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="21" aria-label="Slide 22"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="22" aria-label="Slide 23"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="{% static 'img/campus-images/campus1.jpg' %}" class="d-block w-100" alt="image.jpg">
        </div>
        <div class="carousel-item">
          <img src="{% static 'img/campus-images/campus2.jpg' %}" class="d-block w-100" alt="image.jpg">
        </div>
        <div class="carousel-item">
          <img src="{% static 'img/campus-images/campus3.jpg' %}" class="d-block w-100" alt="image.jpg">
        </div>
        <div class="carousel-item">
          <img src="{% static 'img/campus-images/campus4.jpg' %}" class="d-block w-100" alt="image.jpg"> 
        </div>
        <div class="carousel-item">
          <img src="{% static 'img/campus-images/campus5.jpg' %}" class="d-block w-100" alt="image.jpg">
        </div>
        <div class="carousel-item">
          <img src="{% static 'img/campus-images/campus6.jpg' %}" class="d-block w-100" alt="image.jpg">
        </div>
        <div class="carousel-item">
          <img src="{% static 'img/campus-images/campus7.jpg' %}" class="d-block w-100" alt="image.jpg">
        </div>
        <div class="carousel-item">
          <img src="{% static 'img/campus-images/campus8.jpg' %}" class="d-block w-100" alt="image.jpg">
        </div>
        <div class="carousel-item">
          <img src="{% static 'img/campus-images/campus9.jpg' %}" class="d-block w-100" alt="image.jpg">
        </div>
        <div class="carousel-item">
          <img src="{% static 'img/campus-images/campus10.jpg' %}" class="d-block w-100" alt="image.jpg">
        </div>
        <div class="carousel-item">
          <img src="{% static 'img/campus-images/campus11.jpg' %}" class="d-block w-100" alt="image.jpg">
        </div>
        <div class="carousel-item">
          <img src="{% static 'img/campus-images/campus12.jpg' %}" class="d-block w-100" alt="image.jpg">
        </div>
        <div class="carousel-item">
          <img src="{% static 'img/campus-images/campus13.jpg' %}" class="d-block w-100" alt="image.jpg">
        </div>
        <div class="carousel-item">
          <img src="{% static 'img/campus-images/campus14.jpg' %}" class="d-block w-100" alt="image.jpg">
        </div>
        <div class="carousel-item">
          <img src="{% static 'img/campus-images/campus15.jpg' %}" class="d-block w-100" alt="image.jpg">
        </div>
        <div class="carousel-item">
          <img src="{% static 'img/campus-images/campus16.jpg' %}" class="d-block w-100" alt="image.jpg">
        </div>
        <div class="carousel-item">
          <img src="{% static 'img/campus-images/campus17.jpg' %}" class="d-block w-100" alt="image.jpg">
        </div>
        <div class="carousel-item">
          <img src="{% static 'img/campus-images/campus18.jpg' %}" class="d-block w-100" alt="image.jpg">
        </div>
        <div class="carousel-item">
          <img src="{% static 'img/campus-images/campus19.jpg' %}" class="d-block w-100" alt="image.jpg">
        </div>
        <div class="carousel-item">
          <img src="{% static 'img/campus-images/campus20.jpg' %}" class="d-block w-100" alt="image.jpg">
        </div>
        <div class="carousel-item">
          <img src="{% static 'img/campus-images/campus21.jpg' %}" class="d-block w-100" alt="image.jpg">
        </div>
        <div class="carousel-item">
          <img src="{% static 'img/campus-images/campus22.jpg' %}" class="d-block w-100" alt="image.jpg">
        </div>
        <div class="carousel-item">
          <img src="{% static 'img/campus-images/campus23.jpg' %}" class="d-block w-100" alt="image.jpg">
        </div>
      </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
    </div>
 

  <!-- ======= About Section ======= -->
<section id="about" class="about">

  <div class="container" data-aos="fade-up">
    <div class="row gx-0">

      <div class="col-lg-6 d-flex flex-column justify-content-center" data-aos="fade-up" data-aos-delay="200">
        <div class="content">
          <h2 style="text-align:center">ABOUT JNV HARDOI</h2><hr>
          <p>
            Jawahar Navodaya Vidyalaya, is a fully residential, co-educational school affiliated to CBSE, New Delhi and has classes from VI to XII standard. This Vidyalaya is run by Navodaya Vidyalaya Samiti, New Delhi, an autonomous organization under the Department of Education and Literacy, Ministry of H.R.D., Government of India. The school campus covers around 39.8  acres of forested  with its buildings connected by steep and windy paths and offering spectacular views at every turn. These buildings include the beautiful old Quad, the modern state of art infrastructure and the newly-refurbished student hostels and staff houses. The academic buildings including several classrooms are linked by a computer network. The widespread use of email and an intranet system shrinks the distances and keeps staff, students and administration in quick and easy contact with one another.  The school is located  in Itara village of Hardoi Tehsil.
        </p>
        </div>
      </div>

      <div class="col-lg-6 d-flex align-items-center" data-aos="zoom-out" data-aos-delay="200">
        <img style="padding: 0px 0px 55px;" src="{% static 'img/campus-images/campus-main-building-front1.jpg' %}" class="img-fluid" alt="">
      </div>
      <hr style="border-top: 1px dashed blue;">

    </div>
  </div>

    <div class="justify-content-center" data-aos="fade-up" data-aos-delay="200">
        <div class="content">
          <h2 style="text-align:center">VISION</h2><hr>
          <p>
          "To provide good quality modern education-including a strong component of culture, inculcation of values, awareness of the environment, adventure activities and physical education- to the talented children predominantly from the rural areas without regard to their family's socio-economic conditions."
          </p>
          <hr style="border-top: 1px dashed blue;">
        </div>
    </div>
     

  




<section id="values" class="values">

  <div class="container" data-aos="fade-up">

    <header class="section-header">
      <h2>ACTIVITIES</h2>
      <p>Extra Activities</p>
    </header>

    <div class="row">

      <div class="col-lg-4">
        <div class="boxe" data-aos="fade-up" data-aos-delay="200">
          <img src="{% static 'img/sports.jpg' %}" class="img-fluid" alt="">
          <h3><a href="https://www.navodaya.gov.in/nvs/nvs-school/HARDOI/en/activities/Games-and-Sports/" target="_blank">GAMES AND SPORTS</a></h3>
          <p>Games & Sports have been a vital component of JNVs to ensure all round development of students. The importance of sports and games in schools encompasses more than just the benefit of physical activity. </p>
        </div>
      </div>

      <div class="col-lg-4 mt-4 mt-lg-0">
        <div class="boxe" data-aos="fade-up" data-aos-delay="400">
          <img src="{% static 'img/cca.jpg' %}" class="img-fluid" alt="">
          <h3><a href="https://www.navodaya.gov.in/nvs/nvs-school/HARDOI/en/activities/Co-Curricular-Activities/" target="_blank">Co-Curricular Activities</a></h3>
          <p>Co-curricular Activities (CCA) ensures the harmonious growth of personality in children. CCA are an extension of the formal learning experiences and play a vital role in supplementing the academic activities.</p>
        </div>
      </div>

      <div class="col-lg-4 mt-4 mt-lg-0">
        <div class="boxe" data-aos="fade-up" data-aos-delay="600">
          <img src="{% static 'img/nyps.jpg' %}" class="img-fluid" alt="">
          <h3><a href="https://www.navodaya.gov.in/nvs/nvs-school/HARDOI/en/activities/Youth-Parliament/"target="_blank">NATIONAL YOUTH PARLIAMENT SCHEME</a></h3>
          <p>This portal contains various e-training resources in the form of tutorials, literature, training videos, etc.for e-training and self-learning of the participants</p>
        </div>
      </div>

    </div>

  </div>

</section><!-- End Values Section -->
    
      

  

 <!-- Feature Icons -->
 <div class="features">
  <div class="row feature-icons" data-aos="fade-up">
   <h3>Hostels</h3>
 
   <div class="row">
 
     <div class="col-xl-4 text-center" data-aos="fade-right" data-aos-delay="100">
       <img src="{% static 'img/campus-images/campus-main-building-front2.jpg' %}" class="img-fluid p-4" alt="">
     </div>
 
     <div class="col-xl-8 d-flex content">
       <div class="row align-self-center gy-4">
 
         <div class="col-md-6 icon-box" data-aos="fade-up">
           <i class="ri-home-4-fill"></i>
           <div>
             <h4 style="color:blue;">ARAWALI</h4>
             <p>Represented By : <span style="color:blue;">Blue </span>Colour</p>
           </div>
         </div>
 
         <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="100">
           <i class="ri-home-4-fill"></i>
           <div>
             <h4 style="color:green;">NEELGIRI</h4>
             <p>Represented By : <span style="color:green;">Green </span>Colour</p>
           </div>
         </div>
 
         <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="200">
           <i class="ri-home-4-fill"></i>
           <div>
             <h4 style="color:red;">SHIVALIK</h4>
             <p>Represented By : <span style="color:red;">Red </span>Colour</p>
           </div>
         </div>
 
         <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="300">
           <i class="ri-home-4-fill"></i>
           <div>
             <h4 style="color:yellow;">UDAIGIRI</h4>
             <p>Represented By : <span style="color:yellow;">Yellow </span>Colour</p>
           </div>
         </div>
 
       
       </div>
     </div>
 
   </div>
 </div>
 
 </div><!-- End Feature Icons -->


 
 <!-- Feature Icons -->
 <div class="features">
  <div class="row feature-icons" data-aos="fade-up">
   <h3>From Principal's Desk</h3>
 
   <div class="row">
 
     <div class="col-xl-4 text-center" data-aos="fade-right" data-aos-delay="100">
       <img style="border-radius: 25%" src="{% static 'img/testimonials/principal.jpeg' %}" class="img-fluid p-4" alt="">
     </div>
 
     <div class="col-xl-8 d-flex content">
       <div class="row align-self-center gy-4">
        <div class="content">
          <h4 style= "padding-left: 25px"> DR. SUMAN LATA DWIVEDI </h4><hr>
          <p>Special feature of Jawahar Navodaya Vidyalaya Pihani,Hardoi viz the only school of Uttar Pradesh running Online Spoken Tutorial project for +1 and +2 classes being run by IIT Bombay and joining hands with the initiative of the “Talk to a Teacher” activity of the National Mission on Education through ICT(NMEICT) launched by Ministry of Human Resource Development (MHRD) Govt. of India to promote IT literacy through Open Source Software which open the scope of self paced effective learning among heterogeneous group of learners. Another feature of this Vidyalaya is its attachment with Tony Blair Institute for Global Change of UK which provides ample scope for the students to interact online with top educationist and students of the world on selected topics and gets their learning converted into professionalism. We are also working on an innovative approach of Mind Mapping duly recognized by NCERT through which students become more Creative, Critical and Collaborative.
  
            Our commitment on holistic approach where each learner finds identity, meaning and purpose through connection to the natural world with spiritual values, keeps the flame of learning alive.</p>
          <hr style="border-top: 1px dashed blue;">
   
         </div>
         
       </div>
     </div>
 
   </div>
 </div>
 
 </div><!-- End Feature Icons -->
 


 
  </div>
</section> 


{% endblock %}