{% extends 'main.html' %}
{% block title %} | Campus{% endblock title %}
{% block content %}
{% load static %} 


<section >
  <br>
  <center><font face="Trebuchet MS" size="4px" color="#0062cc">OUR CAMPUS</font></center>
  <center><font face="Trebuchet MS" size="5px" color="#0062cc">JAWAHAR NAVODAYA VIDYALAYA</font></center>
  <div class="container mt-4" data-aos="fade-up">
    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 4"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="4" aria-label="Slide 5"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="5" aria-label="Slide 6"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="6" aria-label="Slide 7"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="7" aria-label="Slide 8"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="8" aria-label="Slide 9"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="9" aria-label="Slide 10"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="10" aria-label="Slide 11"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="11" aria-label="Slide 12"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="12" aria-label="Slide 13"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="13" aria-label="Slide 14"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="14" aria-label="Slide 15"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="15" aria-label="Slide 16"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="16" aria-label="Slide 17"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="17" aria-label="Slide 18"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="18" aria-label="Slide 19"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="19" aria-label="Slide 20"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="20" aria-label="Slide 19"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="{% static 'img/campus-images/01.jpg' %}" class="d-block w-100" alt="image.jpg">
        </div>
        <div class="carousel-item">
          <img src="{% static 'img/campus-images/02.jpg' %}" class="d-block w-100" alt="image.jpg">
        </div>
        <div class="carousel-item">
          <img src="{% static 'img/campus-images/03.jpg' %}" class="d-block w-100" alt="image.jpg">
        </div>
        <div class="carousel-item">
          <img src="{% static 'img/campus-images/04.jpg' %}" class="d-block w-100" alt="image.jpg"> 
        </div>
        <div class="carousel-item">
          <img src="{% static 'img/campus-images/05.jpg' %}" class="d-block w-100" alt="image.jpg">
        </div>
        <div class="carousel-item">
          <img src="{% static 'img/campus-images/06.jpg' %}" class="d-block w-100" alt="image.jpg">
        </div>
        <div class="carousel-item">
          <img src="{% static 'img/campus-images/07.jpg' %}" class="d-block w-100" alt="image.jpg">
        </div>
        <div class="carousel-item">
          <img src="{% static 'img/campus-images/08.jpg' %}" class="d-block w-100" alt="image.jpg">
        </div>
        <div class="carousel-item">
          <img src="{% static 'img/campus-images/09.jpg' %}" class="d-block w-100" alt="image.jpg">
        </div>
        <div class="carousel-item">
          <img src="{% static 'img/campus-images/10.jpg' %}" class="d-block w-100" alt="image.jpg">
        </div>
        <div class="carousel-item">
          <img src="{% static 'img/campus-images/11.jpg' %}" class="d-block w-100" alt="image.jpg">
        </div>
        <div class="carousel-item">
          <img src="{% static 'img/campus-images/12.jpg' %}" class="d-block w-100" alt="image.jpg">
        </div>
        <div class="carousel-item">
          <img src="{% static 'img/campus-images/13.jpg' %}" class="d-block w-100" alt="image.jpg">
        </div>
        <div class="carousel-item">
          <img src="{% static 'img/campus-images/14.jpg' %}" class="d-block w-100" alt="image.jpg">
        </div>
        <div class="carousel-item">
          <img src="{% static 'img/campus-images/15.jpg' %}" class="d-block w-100" alt="image.jpg">
        </div>
        <div class="carousel-item">
          <img src="{% static 'img/campus-images/16.jpg' %}" class="d-block w-100" alt="image.jpg">
        </div>
        <div class="carousel-item">
          <img src="{% static 'img/campus-images/17.jpg' %}" class="d-block w-100" alt="image.jpg">
        </div>
        <div class="carousel-item">
          <img src="{% static 'img/campus-images/18.jpg' %}" class="d-block w-100" alt="image.jpg">
        </div>
        <div class="carousel-item">
          <img src="{% static 'img/campus-images/19.jpg' %}" class="d-block w-100" alt="image.jpg">
        </div>
        <div class="carousel-item">
          <img src="{% static 'img/campus-images/20.jpg' %}" class="d-block w-100" alt="image.jpg">
        </div>
        <div class="carousel-item">
          <img src="{% static 'img/campus-images/21.jpg' %}" class="d-block w-100" alt="image.jpg">
        </div>
      </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
    </div>
 

  <!-- ======= About Section ======= -->
<section id="about" class="about">

  <div class="container" data-aos="fade-up">
    <div class="row gx-0">

      <div class="col-lg-6 d-flex flex-column justify-content-center" data-aos="fade-up" data-aos-delay="200">
        <div class="content">
          <h2>ABOUT JNV HARDOI</h2><hr>
          
        <p>
            Jawahar Navodaya Vidyalaya, is a fully residential, co-educational school affiliated to CBSE, New Delhi and has classes from VI to XII standard. This Vidyalaya is run by Navodaya Vidyalaya Samiti, New Delhi, an autonomous organization under the Department of Education and Literacy, Ministry of H.R.D., Government of India. The school campus covers around 39.8  acres of forested  with its buildings connected by steep and windy paths and offering spectacular views at every turn. These buildings include the beautiful old Quad, the modern state of art infrastructure and the newly-refurbished student hostels and staff houses. The academic buildings including several classrooms are linked by a computer network. The widespread use of email and an intranet system shrinks the distances and keeps staff, students and administration in quick and easy contact with one another.  The school is located  in Itara village of Hardoi Tehsil.
        </p>
        </div>
      </div>

      <div class="col-lg-6 d-flex align-items-center" data-aos="zoom-out" data-aos-delay="200">
        <img src="{% static 'img/campus-images/02.jpg' %}" class="img-fluid" alt="">
      </div>
      <hr style="border-top: 1px dashed red;">

    </div>
  </div>

    <div class="justify-content-center" data-aos="fade-up" data-aos-delay="200">
        <div class="content">
          <h2>VISION</h2><hr>
          
          <h4>          
 "To provide good quality modern education-including a strong component of culture, inculcation of values, awareness of the environment, adventure activities and physical education- to the talented children predominantly from the rural areas without regard to their family's socio-economic conditions." 
 </h4>
        </div>
     

  




<section id="values" class="values">

  <div class="container" data-aos="fade-up">

    <header class="section-header">
      <h2>Our Values</h2>
      <p>Odit est perspiciatis laborum et dicta</p>
    </header>

    <div class="row">

      <div class="col-lg-4">
        <div class="boxe" data-aos="fade-up" data-aos-delay="200">
          <img src="{% static 'img/hero-img.png' %}" class="img-fluid" alt="">
          <h3>Ad cupiditate sed est odio</h3>
          <p>Eum ad dolor et. Autem aut fugiat debitis voluptatem consequuntur sit. Et veritatis id.</p>
        </div>
      </div>

      <div class="col-lg-4 mt-4 mt-lg-0">
        <div class="boxe" data-aos="fade-up" data-aos-delay="400">
          <img src="{% static 'img/hero-img.png' %}" class="img-fluid" alt="">
          <h3>Voluptatem voluptatum alias</h3>
          <p>Repudiandae amet nihil natus in distinctio suscipit id. Doloremque ducimus ea sit non.</p>
        </div>
      </div>

      <div class="col-lg-4 mt-4 mt-lg-0">
        <div class="boxe" data-aos="fade-up" data-aos-delay="600">
          <img src="{% static 'img/hero-img.png' %}" class="img-fluid" alt="">
          <h3>Fugit cupiditate alias nobis.</h3>
          <p>Quam rem vitae est autem molestias explicabo debitis sint. Vero aliquid quidem commodi.</p>
        </div>
      </div>

    </div>

  </div>

</section><!-- End Values Section -->
    
      

  

 <!-- Feature Icons -->
 <div class="features">
  <div class="row feature-icons" data-aos="fade-up">
   <h3>Ratione mollitia eos ab laudantium rerum beatae quo</h3>
 
   <div class="row">
 
     <div class="col-xl-4 text-center" data-aos="fade-right" data-aos-delay="100">
       <img src="{% static 'img/campus-images/image02.jpg' %}" class="img-fluid p-4" alt="">
     </div>
 
     <div class="col-xl-8 d-flex content">
       <div class="row align-self-center gy-4">
 
         <div class="col-md-6 icon-box" data-aos="fade-up">
           <i class="ri-line-chart-line"></i>
           <div>
             <h4>Corporis voluptates sit</h4>
             <p>Consequuntur sunt aut quasi enim aliquam quae harum pariatur laboris nisi ut aliquip</p>
           </div>
         </div>
 
         <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="100">
           <i class="ri-stack-line"></i>
           <div>
             <h4>Ullamco laboris nisi</h4>
             <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt</p>
           </div>
         </div>
 
         <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="200">
           <i class="ri-brush-4-line"></i>
           <div>
             <h4>Labore consequatur</h4>
             <p>Aut suscipit aut cum nemo deleniti aut omnis. Doloribus ut maiores omnis facere</p>
           </div>
         </div>
 
         <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="300">
           <i class="ri-magic-line"></i>
           <div>
             <h4>Beatae veritatis</h4>
             <p>Expedita veritatis consequuntur nihil tempore laudantium vitae denat pacta</p>
           </div>
         </div>
 
         <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="400">
           <i class="ri-command-line"></i>
           <div>
             <h4>Molestiae dolor</h4>
             <p>Et fuga et deserunt et enim. Dolorem architecto ratione tensa raptor marte</p>
           </div>
         </div>
 
         <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="500">
           <i class="ri-radar-line"></i>
           <div>
             <h4>Explicabo consectetur</h4>
             <p>Est autem dicta beatae suscipit. Sint veritatis et sit quasi ab aut inventore</p>
           </div>
         </div>
 
       </div>
     </div>
 
   </div>
 </div>
 
 </div><!-- End Feature Icons -->


 
 <!-- Feature Icons -->
 <div class="features">
  <div class="row feature-icons" data-aos="fade-up">
   <h3>From Principal's Desk</h3>
 
   <div class="row">
 
     <div class="col-xl-4 text-center" data-aos="fade-right" data-aos-delay="100">
       <img style="border-radius: 25%" src="{% static 'img/testimonials/principal.jpeg' %}" class="img-fluid p-4" alt="">
     </div>
 
     <div class="col-xl-8 d-flex content">
       <div class="row align-self-center gy-4">
        <div class="content">
          <h4 style= "padding-left: 25px"> DR. SUMAN LATA DWIVEDI </h4><hr>
          <p>Special feature of Jawahar Navodaya Vidyalaya Pihani,Hardoi viz the only school of Uttar Pradesh running Online Spoken Tutorial project for +1 and +2 classes being run by IIT Bombay and joining hands with the initiative of the “Talk to a Teacher” activity of the National Mission on Education through ICT(NMEICT) launched by Ministry of Human Resource Development (MHRD) Govt. of India to promote IT literacy through Open Source Software which open the scope of self paced effective learning among heterogeneous group of learners. Another feature of this Vidyalaya is its attachment with Tony Blair Institute for Global Change of UK which provides ample scope for the students to interact online with top educationist and students of the world on selected topics and gets their learning converted into professionalism. We are also working on an innovative approach of Mind Mapping duly recognized by NCERT through which students become more Creative, Critical and Collaborative.
  
            Our commitment on holistic approach where each learner finds identity, meaning and purpose through connection to the natural world with spiritual values, keeps the flame of learning alive.</p>
   
         </div>
         
       </div>
     </div>
 
   </div>
 </div>
 
 </div><!-- End Feature Icons -->
 


 
  </div>
</section> 
















{% endblock %}