{% extends 'main.html' %}
{% block content %}
{% load static %}  

<!-- Start alumini Section -->

<section id="clients" class="clients">

    <div class="container" data-aos="fade-up">

      <header class="section-header">

        <br>
        <br>
        <br>
        <br>
        <h2>Contact</h2>
        <p>Contact to JNV Hardoi</p>
      </header>
    

      <div class="wrapper">
        <div class="img-area">
          <div class="inner-area">
            <img src="https://images.unsplash.com/photo-1492288991661-058aa541ff43?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="">
          </div>
        </div>
        <div class="icon arrow"><i class="fas fa-arrow-left"></i></div>
        <div class="icon dots"><i class="fas fa-ellipsis-v"></i></div>
        <div class="name">CodingNepal</div>
        <div class="about">Designer & Developer</div>
        <div class="social-icons">
          <a href="#" class="fb"><i class="fab fa-facebook-f"></i></a>
          <a href="#" class="twitter"><i class="fab fa-twitter"></i></a>
          <a href="#" class="insta"><i class="fab fa-instagram"></i></a>
          <a href="#" class="yt"><i class="fab fa-youtube"></i></a>
        </div>
        <div class="buttons">
          <button>Message</button>
          <button>Subscribe</button>
        </div>
        <div class="social-share">
          <div class="row">
            <i class="far fa-heart"></i>
            <i class="icon-2 fas fa-heart"></i>
            <span>20.4k</span>
          </div>
          <div class="row">
            <i class="far fa-comment"></i>
            <i class="icon-2 fas fa-comment"></i>
            <span>14.3k</span>
          </div>
          <div class="row">
            <i class="fas fa-share"></i>
            <span>12.8k</span>
          </div>
        </div>
      </div>
      
    
    
    
    </div>
    </div>
    
    </section><!-- End alumini Section -->

      

    </div>
</section>  
















{% endblock %}