{% extends 'main.html' %}
{% block title %} | Contact{% endblock title %}
{% block content %}
{% load static %}  

<!-- Start alumini Section -->

<section id="contact" class="contact">

  <div class="container" data-aos="fade-up">
  <br>
  <br>
    <header class="section-header">
      <h2>Contact</h2>
      <p>Contact to JNV Hardoi</p>
    </header>

    <div class="row gy-4">

      <div class="col-lg-6">

        <div class="row gy-4">
          <div class="col-md-6">
            <div class="info-box">
              <i class="bi bi-geo-alt"></i>
              <h3>Address</h3>
              <p>Jawahar Navodaya Vidyalaya<br>Itara, Pihani, Hardoi <br>Uttar Pradesh - 241406</p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="info-box">
              <i class="bi bi-telephone"></i>
              <h3>Call Us</h3>
              <p>+91-9198771130</p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="info-box">
              <i class="bi bi-envelope"></i>
              <h3>Email Us</h3>
              <p>jnvhardoi88@gmail.com</p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="info-box">
              <i class="bi bi-clock"></i>
              <h3>Open Hours</h3>
              <p>Monday - Friday<br>9:00AM - 05:00PM</p>
            </div>
          </div>
        </div>

      </div>

      <div class="col-lg-6 d-flex align-items-center" data-aos="zoom-out" data-aos-delay="200">
        
        <img src="{% static 'img/campus-images/image02.jpg' %}" class="img-fluid" alt="JNV Campus">

      </div>

    </div>

  </div>

<!-- End Contact Section -->
  

    

  </div>
</section>  



  <!-- ======= Contact Section ======= -->
  <section id="contact" class="contact">

    <div class="container" data-aos="fade-up">

      <header class="section-header">
        <h2>Contact</h2>
        <p>Contact Us</p>
      </header>

      <div class="row gy-4">

        <div class="col-lg-6">

          <div class="row gy-4">
            <div class="col-md-6">
              <div class="info-box">
                <i class="bi bi-geo-alt"></i>
                <h3>Address</h3>
                <p>Jawahar Navodaya Vidyalaya<br>Itara, Pihani, Hardoi, 241406<br>Uttar Pradesh</p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="info-box">
                <i class="bi bi-telephone"></i>
                <h3>Call Us</h3>
                <p>+91-7753076264<br>+91-7905345960</p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="info-box">
                <i class="bi bi-envelope"></i>
                <h3>Email Us</h3>
                <p>alumni.jnv@yahoo.com</p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="info-box">
                <i class="bi bi-clock"></i>
                <h3>Open Hours</h3>
                <p>Monday - Sunday<br>05:00PM - 11:00PM</p>
              </div>
            </div>
          </div>

        </div>

        <div class="col-lg-6">
          <form action="https://script.google.com/macros/s/AKfycbzvwVGNcAqIBTw5ka9M_0tvcACIwdzwJaPM5xIyPFMlEnfs1Gzr8WuyAVh6ojGZWC8uVg/exec"  method="post"  class="tm-contact-form" >
            {% csrf_token %}
            <div class="row gy-4">

              <div class="col-md-6">
                <input type="text" name="name" id="name" class="form-control" placeholder="Your Name" required>
              </div>

              <div class="col-md-6 ">
                <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
              </div>

              <div class="col-md-6 ">
                <input type="tel" class="form-control" name="mobile" id="mobile" placeholder="Your Mobile number" >
              </div>

            

              <div class="col-md-12">
                <textarea class="form-control" name="message" id="message" rows="6" placeholder="Message" required></textarea>
              </div>

              <div class="col-md-12 text-center">
              
                <button type="submit">Send Message</button>
              </div>

            </div>
            <br>
            
            <div class="thankyou_message" style="display:none;">
              <div class="p-3 mb-2 bg-success text-white">
              <h5>Your message has been sent.<br><em>Thank you!</em> </h5>
             </div> 
          </div>
          </form>

        </div>

      </div>

    </div>

  <!-- End Contact Section -->
    

      

    </div>
</section>  







<script type="text/javascript" data-cfasync="false" src="{% static 'js/form-submission-handler.js' %}"></script>








{% endblock %}