{% load static %}
  
  
  
  
  <!-- ======= Counts Section ======= -->
  <section id="counts" class="counts">
    <div class="container" data-aos="fade-up">

      <div class="row gy-4">

        <div class="col-lg-3 col-md-6">
          <div class="count-box">
            <i class="bi bi-people"></i>
            <div>
              <span data-purecounter-start="0" data-purecounter-end="636" data-purecounter-duration="1" class="purecounter"></span>
              <p>Total JNVs</p>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6">
          <div class="count-box">
            <i class="bi bi-emoji-smile" style="color: #ee6c20;"></i>
            <div>
              <span data-purecounter-start="0" data-purecounter-end="265574 " data-purecounter-duration="1" class="purecounter"></span>
              <p>Total Students</p>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6">
          <div class="count-box">
            <i class="bi bi-journal-richtext" style="color: #15be56;"></i>
            <div>
              <span data-purecounter-start="0" data-purecounter-end="99" data-purecounter-duration="1" class="purecounter"></span>
              <p>percentage of 12th grade</p>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6">
          <div class="count-box">
            <i class="bi bi-journal-richtext" style="color: #bb0852;"></i>
            <div>
              <span data-purecounter-start="0" data-purecounter-end="97 " data-purecounter-duration="1" class="purecounter"></span>
              <p>percentage of 10th grade</p>
            </div>
          </div>
        </div>

      </div>

    </div>
  </section><!-- End Counts Section -->