
{% load static %}



<!-- ======= Footer ======= -->
<footer id="footer" class="footer">

   

    <div class="footer-top">
      <div class="container">
        <div class="row gy-4">
          <div class="col-lg-5 col-md-12 footer-info">
            <a href="{% url 'index' %}" class="logo d-flex align-items-center">
              <img src="{% static 'img/logo.png' %}" alt="">
              <span>JNV Stars</span>
            </a>
            <p>A flourishing website for JNV ,developed by the team of jnv hardoi alumni. Here you will know about jnv and a little bit more about jnvh. If you want to know about the fully residential and co-education school then visit the whole website.</p>
            <div class="social-links mt-3">
              <a href="https://www.facebook.com/JNV-Stars-106622461646035" target="_blank" class="facebook"><i class="bi bi-facebook"></i></a>
              <a href="https://instagram.com/alumni.jnvstars" target="_blank" class="instagram"><i class="bi bi-instagram bx bxl-instagram"></i></a>
              <a href="https://twitter.com/alumni_jnvstars" target="_blank" class="twitter"><i class="bi bi-twitter"></i></a>
              <a href="https://www.youtube.com/channel/UCGCUPqffmf0GC44KCrzzq8g" target="_blank" class="youtube"><i class="bi bi-youtube"></i></a>
            </div>
          </div>

          <div class="col-lg-2 col-6 footer-links">
            <h4>GOTO</h4>
            <ul>
              <li><i class="bi bi-chevron-right"></i> <a href="{% url 'index' %}">Home</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="{% url 'about' %}">About us</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="{% url 'alumini' %}">Alumni</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Terms of service</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Privacy policy</a></li>
            </ul>
          </div>

          <div class="col-lg-2 col-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bi bi-chevron-right"></i> <a href="https://www.navodaya.gov.in/nvs/nvs-school/HARDOI/en/home/">Official Website</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="https://navodaya.gov.in/nvs/en/Home1">NVS(Head Quarter)</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="https://www.cbse.gov.in/">CBSE</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="https://ncert.nic.in/">NCERT</a></li>
            
            </ul>
          </div>

          <div class="col-lg-3 col-md-12 footer-contact text-center text-md-start">
            <h4>Contact </h4>
            <p>
              Itara, Pihani <br>
              Hardoi, <br>
              Uttar Pradesh - 241406 <br><br>
              <strong>Phone:</strong> +91-7753076264<br>
              <strong>Email:</strong> alumni.jnvstars@gmail.com<br>
            </p>

          </div>

        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        Navodaya Vidyalaya Samiti <strong><span>JnvStars</span></strong>. Be Educate!
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Our team -->
         Developed & Designed by <a href="/ourteam">Our Team</a> &copy; 2021.
      </div>
    </div>
  </footer><!-- End Footer -->