{% load static %}
{% url 'index' as index %}
{% url 'campus' as campus %}
{% url 'alumini' as alumini %}
{% url 'about' as about %}
{% url 'gallery' as gallery %}
{% url 'contact' as contact %}
{% url 'ourteam' as ourteam %}

<nav id="navbar" class="navbar">
    <ul>
      <li><a class="nav-link scrollto {% if request.path == index %} active {% endif %}" href="{% url 'index' %}">Home</a></li>

      <li><a class="nav-link scrollto {% if request.path == campus %} active {% endif %}" href="{% url 'campus' %}">Campus</a></li>

      <li><a class="nav-link scrollto {% if request.path == alumini %} active {% endif %}" href="{% url 'alumini' %}">Alumni</a></li>

      <li><a class="nav-link scrollto {% if request.path == about %} active {% endif %}" href="{% url 'about' %}">About</a></li>

      <li><a class="nav-link scrollto  {% if request.path == gallery %} active {% endif %}" href="{% url 'gallery' %}">Gallery</a></li>

      <li><a class="nav-link scrollto {% if request.path == contact %} active {% endif %}" href="{% url 'contact' %}">Contact</a></li>

      <li><a class="nav-link scrollto {% if request.path == ourteam %} active {% endif %}" href="{% url 'ourteam' %}">Ourteam</a></li>
      {% comment %} <li><a class="getstarted scrollto" href="#about">Get Started</a></li> {% endcomment %}
    </ul>
    <i class="bi bi-list mobile-nav-toggle"></i>
  </nav><!-- .navbar -->