{% load static %}


<nav id="navbar" class="navbar">
    <ul>
      <li><a class="nav-link scrollto active" href="{% url 'index' %}">Home</a></li>
      <li><a class="nav-link scrollto" href="{% url 'campus' %}">Campus</a></li>
      <li><a class="nav-link scrollto" href="{% url 'alumini' %}">Alumni</a></li>
      
      
      <li class="dropdown"><a href="{% url 'about' %}"><span>About</span> <i class="bi bi-chevron-down"></i></a>
        <ul>
          <li><a href="#about-overview">Overview</a></li>
          <li><a href="#ab-administration"><span>Administration</span></a></li>
            <li class="dropdown"><a href="#ab-academics"><span>Academics</span> <i class="bi bi-chevron-right"></i></a>
                <ul>
                  <li><a href="#"><span style="font-size:12px"> Smart Class</span></a></li>
                  <li><a href="#"><span style="font-size:12px">Labs</span></a></li>
                  <li><a href="#"><span style="font-size:12px">Library</span></a></li>
                </ul>
              </li>
          <li><a href="#ab-mess">Mess</a></li>
          <li><a href="#ab-hostel">Hostel</a></li>
          <li><a href="#pri-health">Health Center</a></li>
          <li><a href="#ab-sports">Sports</a></li>
          <li><a href="#ab-culture">Cultural Activities</a></li>
        </ul>
      </li>
      <li><a class="nav-link scrollto" href="{% url 'gallery' %}">Gallery</a></li>
      <li><a class="nav-link scrollto" href="{% url 'contact' %}">Contact</a></li>
      <li><a class="nav-link scrollto" href="{% url 'ourteam' %}">OurTeam</a></li>
      {% comment %} <li><a class="getstarted scrollto" href="#about">Get Started</a></li> {% endcomment %}
    </ul>
    <i class="bi bi-list mobile-nav-toggle"></i>
  </nav><!-- .navbar -->