{% extends 'main.html' %}
{% block title %} | Ourteam{% endblock title %}
{% block content %}
{% load static %}

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>

<section id="team" class="team">
<!-- For demo purpose -->
<div class="container py-5" data-aos="fade-up">
    <div class="container" data-aos="fade-up">

        <header class="section-header">
          <h2>Team</h2>
          <p>Our hard working team</p>
        </header>
    </div>
</div><!-- End -->
    <div class="container">
        <div class="ourteam col-md-3 col-sm-6 align-items-stretch" data-aos="fade-up" data-aos-delay="100">
            <div class="our-team">
                <div class="team">
                    <div class="pic">
                        <img src="{% static 'img/team/Durgesh.jpg' %}">
                        <ul class="social-links">
                            <li><a href="https://www.facebook.com/profile.php?id=100006648767928" target="_blank"><i class="fa fa-facebook-f"></i></a></li>
                            <li><a href="https://www.instagram.com/duggu_durgesh_/" target="_blank"><i class="fa fa-instagram"></i></a></li>
                            <li><a href="https://twitter.com/Duggu_durgesh_" target="_blank"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="https://www.linkedin.com/in/durgesh-pal-2001/" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="team-info">
                    <h3 class="title">Durgesh Pal</h3>
                    <span class="post">Front-End & Back-End Web Developer</span>
                    <p class="description">
                        Hey folks,I am Durgesh of 2018 batch.Currently I am persuing B.Tech at <b><a href="http://recb.ac.in/" target="_blank"> REC BIJNOR</a></b>.I am highly motivated and passionate for technology.Also I like to write.You can check my writeups on <b><a href="https://www.instagram.com/desi_syahi/" target="_blank">ARDOUR DIARIES. </a></b>
                    </p>
                </div>
            </div>
        </div>


        <div class="ourteam col-md-3 col-sm-6 mt-5 align-items-stretch" data-aos="fade-up" data-aos-delay="100">
            <div class="our-team">
                <div class="team">
                    <div class="pic">
                        <img src="{% static 'img/team/Sushant.jpg' %}">
                        <ul class="social-links">
                            <li><a href="#"><i class="fa fa-facebook-f" target="_blank"></i></a></li>
                            <li><a href="#"><i class="fa fa-instagram" target="_blank"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter" target="_blank"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin" target="_blank"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="team-info">
                    <h3 class="title">Sushant Verma</h3>
                    <span class="post">web developer</span>
                    <p class="description">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent bibendum id enim sit.
                    </p>
                </div>
            </div>
        </div>


        <div class="ourteam col-md-3 col-sm-6 mt-5 align-items-stretch" data-aos="fade-up" data-aos-delay="100">
            <div class="our-team">
                <div class="team">
                    <div class="pic">
                        <img src="{% static 'img/team/Neetu.jpg' %}">
                        <ul class="social-links">
                            <li><a href="#"><i class="fa fa-facebook-f" target="_blank"></i></a></li>
                            <li><a href="#"><i class="fa fa-instagram" target="_blank"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter" target="_blank"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin" target="_blank"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="team-info">
                    <h3 class="title">Neetu Kanaujiya</h3>
                    <span class="post">web developer</span>
                    <p class="description">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent bibendum id enim sit.
                    </p>
                </div>
            </div>
        </div>


        <div class="ourteam col-md-3 col-sm-6 mt-5 align-items-stretch" data-aos="fade-up" data-aos-delay="100">
            <div class="our-team">
                <div class="team">
                    <div class="pic">
                        <img src="{% static 'img/team/Ankul.jpg' %}">
                        <ul class="social-links">
                            <li><a href="#"><i class="fa fa-facebook-f" target="_blank"></i></a></li>
                            <li><a href="#"><i class="fa fa-instagram" target="_blank"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter" target="_blank"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin" target="_blank"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="team-info">
                    <h3 class="title">Ankul Rathore</h3>
                    <span class="post">web developer</span>
                    <p class="description">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent bibendum id enim sit.
                    </p>
                </div>
            </div>
        </div>


        <div class="ourteam col-md-3 col-sm-6 mt-5 align-items-stretch" data-aos="fade-up" data-aos-delay="100">
            <div class="our-team">
                <div class="team">
                    <div class="pic">
                        <img src="{% static 'img/team/Pushpendra.jpg' %}">
                        <ul class="social-links">
                            <li><a href="#"><i class="fa fa-facebook-f" target="_blank"></i></a></li>
                            <li><a href="#"><i class="fa fa-instagram" target="_blank"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter" target="_blank"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin" target="_blank"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="team-info">
                    <h3 class="title">Pushpendra Kanaujiya</h3>
                    <span class="post">web developer</span>
                    <p class="description">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent bibendum id enim sit.
                    </p>
                </div>
            </div>
        </div>
    </div>
</secton>







{% endblock %}