
{% load static %}



  <!-- ======= Services Section ======= -->
  <section id="services" class="services">

    <div class="container" data-aos="fade-up">

      <header class="section-header">
        <h2>Details</h2>
        <p>Have some more details about Navodaya Vidyalaya</p>
      </header>

      <div class="row gy-4">

        <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
          <div class="service-box blue">
            <i class="ri-discuss-line icon"></i>
            <h3>Prajñānam Brahma</h3>
            <h2>प्रज्ञानं ब्रह्म</h2>
            <h2>Motto</h2>
            <p>This is a Mahavakya. Mahavakyas are used in Hindu spiritual tradition for meditation and contemplation. They are usually taken from the Upanishads.</p>
            <a href="https://www.hinduwebsite.com/hinduism/essays/mahavakyas1.asp" class="read-more"><span>Read More</span> <i class="bi bi-arrow-right"></i></a>
          </div>
        </div>

        <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
          <div class="service-box orange">
            <i class="ri-discuss-line icon"></i>
            <h3>1986</h3>
            <h2>Establishment</h2>
            <p>Ut autem aut autem non a. Sint sint sit facilis nam iusto sint. Libero corrupti neque eum hic non ut nesciunt dolorem.</p>
            <a href="#" class="read-more"><span>Read More</span> <i class="bi bi-arrow-right"></i></a>
          </div>
        </div>

        <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="400">
          <div class="service-box green">
            <i class="ri-discuss-line icon"></i>
            <h3>Government of India</h3>
            <h2>Founder</h2>
            <p>The Government of India is the union government created by the constitution of India as the legislative, executive and judicial authority of the union of twenty eight states and eight union territories of a constitutionally democratic republic. The seat of the Government is located in New Delhi, the capital of India.</p>
            <a href="https://en.wikipedia.org/wiki/Government_of_India" class="read-more"><span>Read More</span> <i class="bi bi-arrow-right"></i></a>
          </div>
        </div>

        <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="500">
          <div class="service-box red">
            <i class="ri-discuss-line icon"></i>
            <h3>CBSE</h3>
            <h2>School board</h2>
            <p>The Central Board of Secondary Education (CBSE) is a national level board of education in India for public and private schools, controlled and managed by Union Government of India. </p>
            <a href="https://en.wikipedia.org/wiki/Central_Board_of_Secondary_Education" class="read-more"><span>Read More</span> <i class="bi bi-arrow-right"></i></a>
          </div>
        </div>

        <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="600">
          <div class="service-box purple">
            <i class="ri-discuss-line icon"></i>
            <h3>Residential</h3>
            <h2>Campus type</h2>
            <p>The National Policy on Education-1986 envisaged setting up of residential schools, to be called Jawahar Navodaya Vidyalayas, that would bring out the best of rural talent.

            </p>
            <a href="https://navodaya.gov.in/nvs/en/About-Us/Vision-Mission/" class="read-more"><span>Read More</span> <i class="bi bi-arrow-right"></i></a>
          </div>
        </div>

        <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="700">
          <div class="service-box pink">
            <i class="ri-discuss-line icon"></i>
            <h3>Migration</h3>
            <p>One of the important features of the JNV scheme is the Migration Programme wherein two linked JNVs of different linguistic categories exchange students between them.</p>
            <a href="https://navodaya.gov.in/nvs/en/Academic/Migration-of-Students/" class="read-more"><span>Read More</span> <i class="bi bi-arrow-right"></i></a>
          </div>
        </div>

      </div>

    </div>

  </section><!-- End Services Section -->
