<style>
    .socialmed {
        position: fixed;
        width: 10px;
        margin-top: 150px;
        box-shadow: 2px 2px 8px 0px rgba(235, 22, 22, 0.4);
        z-index: 10000;
        
      }
    
      .socialmed li {
        height: 60px;
        position: relative;
        width: 60px;
        
      }
    
      .socialmed li a {
        color: white;
        display: block;
        height: 100%;
        width: 100%;
        line-height: 60px;
        border-bottom: 1px solid rgba(246, 250, 16, 0.918);
        transition: all 1s linear;
      }
    
      .socialmed li:nth-child(1) a {
        background: #4267B2;
      }
    
      .socialmed li:nth-child(2) a {
        background: #E1306C;
      }
    
      .socialmed li:nth-child(3) a {
        background: #1DA1F2;
      }
    
     
      .socialmed li:nth-child(4) a {
        background: #ff0000;
      }
    
      .socialmed li a i {
        position: absolute;
        top: 17px;
        left: 20px;
        font-size: 27px;
      }
    
      .socialmed ul li a span {
        display: none;
        font-weight: bold;
        
        text-transform: uppercase;
      }
    
      .socialmed li:hover {
        z-index: 10000;
        width: 170px;
        border-bottom: 1px solid rgba(0, 0, 0, .5);
        box-shadow: 0 0 1px 1px rgba(0, 0, 0, .3);
        transition: all .2s linear;
      }
    
      .socialmed ul li:hover a span {
        padding-left: 30%;
        display: block;
      }
      @media screen and (max-width: 768px) {
        .socialmed {
          display: none;
        }
    
      }
    
         
</style>


  <!--social media links-->
  <div class="socialmed">
    <ul type="none" class="p-0 text-decoration-none">
      <li><a href="https://www.facebook.com/JNV-Stars-106622461646035" target="_blank" class=""><i
            class="fab fa-facebook-f"></i><span>Facebook</span></a></li>
            <li><a href="https://instagram.com/alumni.jnv_hardoi?utm_medium=copy_link" target="_blank"><i
                class="fab fa-instagram"></i><span>Instagram</span></a></li>
      <li><a href="https://twitter.com/alumni_jnvstars" target="_blank"><i class="fab fa-twitter"></i><span>Twitter</span></a></li>
     
       <li><a href="https://www.youtube.com/channel/UCGCUPqffmf0GC44KCrzzq8g" target="_blank"><i
            class="fab fa-youtube"></i><span>Youtube</span></a></li>
    </ul>
  </div> 