{% extends 'main.html' %}
{% block title %} | About{% endblock title %}
{% block content %}
{% load static %}  







<section id="clients" class="clients">

    <div class="container" data-aos="fade-up">

      <header class="section-header">

        <br>
        <br>
        <br>
        <br>
        <h2>Alumini</h2>
        <p>An Alumini of JNV Hardoi</p>
      </header>
    <center>
     <h4>Name : {{stu.name}}</h4>
     <h5>Profession : {{stu.profession}}</h5>
     <h5>Batch :  {{stu.batch}}</h5>
     <h5>Bio : {{stu.bio}}</h5>

    </center>
    </div>
</section>  












{% endblock %}